## SAY SOMETHING HERE

A company-year long format xt panel data table, 2005-2016 
 n = 287,829 observations (46,412 firms)
	(third as many companies in 2016 as in earlier years)
 - ID variables	comp_id	(numerical) company identifier
- year	(calendar) year

 other important variables
 
- exit_year	year of exit (missing if still in business on 2016.12.31) 
- sales		sales in year (EUR)
- curr_assets	current assets at end of year (EUR)
- ind2		2-digit NACE industry code

DEFAULT =  Existed in 2014 (sales > 0), but did not exists in 2015 (sales is 0 or missing)

In [57]:
import pandas as pd
import numpy as np

In [85]:
data = pd.read_csv('cs_bisnode_panel.zip')
data

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
0,1.001034e+06,2005-01-01,2005-12-31,NaN,692.592590,7266.666504,7574.074219,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
1,1.001034e+06,2006-01-01,2006-12-31,NaN,603.703674,13122.222656,12211.111328,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
2,1.001034e+06,2007-01-01,2007-12-31,NaN,425.925934,8196.295898,7800.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
3,1.001034e+06,2008-01-01,2008-12-31,NaN,300.000000,8485.185547,7781.481445,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
4,1.001034e+06,2009-01-01,2009-12-31,NaN,207.407410,5137.037109,15300.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287824,4.641209e+11,2011-01-01,2011-12-31,NaN,0.000000,1807.407349,3.703704,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287825,4.641209e+11,2012-01-01,2012-12-31,NaN,0.000000,1518.518555,96.296295,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287826,4.641209e+11,2013-01-01,2013-12-31,NaN,0.000000,988.888916,77.777779,0.0,0.0,0.0,...,NaN,NaN,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287827,4.641209e+11,2014-01-01,2014-12-31,NaN,0.000000,644.444458,233.333328,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287828,4.641209e+11,2015-01-01,2015-12-31,NaN,0.000000,166.666672,270.370361,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN

In [90]:
data.columns

Index(['comp_id', 'begin', 'end', 'COGS', 'amort', 'curr_assets', 'curr_liab',
       'extra_exp', 'extra_inc', 'extra_profit_loss', 'finished_prod',
       'fixed_assets', 'inc_bef_tax', 'intang_assets', 'inventories',
       'liq_assets', 'material_exp', 'net_dom_sales', 'net_exp_sales',
       'personnel_exp', 'profit_loss_year', 'sales', 'share_eq',
       'subscribed_cap', 'tang_assets', 'wages', 'D', 'balsheet_flag',
       'balsheet_length', 'balsheet_notfullyear', 'year', 'founded_year',
       'exit_year', 'ceo_count', 'foreign', 'female', 'birth_year',
       'inoffice_days', 'gender', 'origin', 'nace_main', 'ind2', 'ind',
       'urban_m', 'region_m', 'founded_date', 'exit_date', 'labor_avg'],
      dtype='object')

In [91]:
#criteria for the holdout sample so I can mask the training sample with !holdout_criteria
holdout_criteria = (data['ind2'] == 26) & (data['year'] == 2014) & ((data['sales'] >=1000) & (data['sales']<=10000000))

In [92]:
#holdout sample creation
holdout = data[holdout_criteria]
print(f'Holdout shape: {holdout.shape}')
holdout.head()

Holdout shape: (1037, 48)

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
969,6538183.0,2014-01-01,2014-12-31,NaN,1018.518494,17022.222656,3040.740723,0.0,0.0,0.0,...,male,Domestic,2630.0,26.0,2.0,2,East,1992-08-25,NaN,NaN
1128,8416055.0,2014-01-01,2014-12-31,NaN,425.925934,105740.742188,6918.518555,0.0,0.0,0.0,...,female,Domestic,2651.0,26.0,2.0,1,Central,1995-08-28,NaN,0.083333
1467,12428378.0,2014-01-01,2014-12-31,NaN,0.000000,0.000000,9277.777344,0.0,0.0,0.0,...,male,Domestic,2660.0,26.0,2.0,2,Central,1991-06-27,NaN,0.083333
1706,17776540.0,2014-01-01,2014-12-31,NaN,48.148148,142296.296875,164237.031250,0.0,0.0,0.0,...,mix,Domestic,2620.0,26.0,2.0,1,Central,1997-07-01,NaN,0.305556
1735,18626760.0,2014-01-01,2014-12-31,NaN,5755.555664,95185.187500,45766.667969,0.0,0.0,0.0,...,male,Domestic,2670.0,26.0,2.0,2,West,2010-11-15,NaN,0.159091

In [93]:
#cleaning holdout sample

In [94]:
#training sample
training = data[~holdout_criteria]
print(f'Training shape: {training.shape}')
training.head()

Training shape: (286792, 48)

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
0,1001034.0,2005-01-01,2005-12-31,NaN,692.592590,7266.666504,7574.074219,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
1,1001034.0,2006-01-01,2006-12-31,NaN,603.703674,13122.222656,12211.111328,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
2,1001034.0,2007-01-01,2007-12-31,NaN,425.925934,8196.295898,7800.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
3,1001034.0,2008-01-01,2008-12-31,NaN,300.000000,8485.185547,7781.481445,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
4,1001034.0,2009-01-01,2009-12-31,NaN,207.407410,5137.037109,15300.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,0.083333

In [48]:
#cleaning training sample:

#delete observations where sales are na (sales make up a part of the y variable)
null_sales = training['sales'].isna()
training = training[~null_sales]
training

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
0,1.001034e+06,2005-01-01,2005-12-31,NaN,692.592590,7266.666504,7574.074219,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
1,1.001034e+06,2006-01-01,2006-12-31,NaN,603.703674,13122.222656,12211.111328,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
2,1.001034e+06,2007-01-01,2007-12-31,NaN,425.925934,8196.295898,7800.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
3,1.001034e+06,2008-01-01,2008-12-31,NaN,300.000000,8485.185547,7781.481445,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
4,1.001034e+06,2009-01-01,2009-12-31,NaN,207.407410,5137.037109,15300.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287824,4.641209e+11,2011-01-01,2011-12-31,NaN,0.000000,1807.407349,3.703704,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287825,4.641209e+11,2012-01-01,2012-12-31,NaN,0.000000,1518.518555,96.296295,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287826,4.641209e+11,2013-01-01,2013-12-31,NaN,0.000000,988.888916,77.777779,0.0,0.0,0.0,...,NaN,NaN,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287827,4.641209e+11,2014-01-01,2014-12-31,NaN,0.000000,644.444458,233.333328,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN
287828,4.641209e+11,2015-01-01,2015-12-31,NaN,0.000000,166.666672,270.370361,0.0,0.0,0.0,...,female,Domestic,5510.0,55.0,3.0,2,East,1990-08-22,NaN,NaN

In [124]:
mask_2014 = (data.year == 2014) & (data.sales > 0)

In [104]:
mask_2015 = (training.year == 2015) & ((training.sales ==0)|training.sales.isna())

In [107]:
#could merge 2014 and 2015 together on comp_id. would hopefully then have 
trying = training[mask_2015]

In [109]:
trying.year.value_counts()

year
2015    5467
Name: count, dtype: int64

In [111]:
yo = pd.merge(holdout, trying, on = 'comp_id')
yo

,comp_id,begin_x,end_x,COGS_x,amort_x,curr_assets_x,curr_liab_x,extra_exp_x,extra_inc_x,extra_profit_loss_x,...,gender_y,origin_y,nace_main_y,ind2_y,ind_y,urban_m_y,region_m_y,founded_date_y,exit_date_y,labor_avg_y
0,1.575227e+08,2014-01-01,2014-12-31,NaN,444.444458,46729.628906,6577.777832,0.0,0.000000e+00,0.000000e+00,...,male,Domestic,2620.0,26.0,2.0,1,Central,1996-10-29,NaN,NaN
1,3.749301e+08,2014-04-01,2014-12-31,NaN,1640.740723,12066.666992,24603.703125,0.0,0.000000e+00,0.000000e+00,...,NaN,NaN,2630.0,26.0,2.0,3,West,1993-11-14,NaN,NaN
2,3.548239e+09,2014-01-01,2014-12-31,NaN,0.000000,8948.148438,5033.333496,0.0,0.000000e+00,0.000000e+00,...,male,Domestic,2620.0,26.0,2.0,1,Central,2004-03-16,NaN,NaN
3,4.095782e+09,2014-01-01,2014-12-31,NaN,0.000000,10325.925781,3722.222168,0.0,0.000000e+00,0.000000e+00,...,male,Domestic,2620.0,26.0,2.0,1,Central,1989-07-31,NaN,NaN
4,1.410598e+10,2014-01-01,2014-12-31,NaN,722.222229,1392.592651,61744.445312,0.0,0.000000e+00,0.000000e+00,...,male,Foreign,2620.0,26.0,2.0,1,Central,2012-08-28,NaN,NaN
5,2.461115e+10,2014-01-01,2014-12-31,NaN,566.666687,21348.148438,48.148148,0.0,0.000000e+00,0.000000e+00,...,NaN,NaN,2651.0,26.0,2.0,1,Central,1995-11-02,NaN,NaN
6,2.601599e+10,2014-01-01,2014-12-31,NaN,262.962952,9766.666992,0.000000,0.0,0.000000e+00,0.000000e+00,...,male,Domestic,2660.0,26.0,2.0,2,Central,1998-06-10,NaN,NaN
7,8.621299e+10,2014-01-01,2014-12-31,0.000000,20870.371094,469396.281250,150540.734375,0.0,0.000000e+00,0.000000e+00,...,male,Domestic,2670.0,26.0,2.0,1,Central,2008-06-03,NaN,NaN
8,9.820402e+10,2014-01-01,2014-12-31,NaN,2266.666748,12959.258789,10503.704102,0.0,0.000000e+00,0.000000e+00,...,male,Foreign,2630.0,26.0,2.0,1,Central,2001-11-25,2016-05-02,0.055556
9,1.082972e+11,2014-01-01,2014-12-31,NaN,0.000000,12859.258789,607.407410,0.0,0.000000e+00,0.000000e+00,...,male,Domestic,2651.0,26.0,2.0,3,East,1999-06-01,NaN,NaN
10,1.185285e+11,2014-01-01,2014-12-31,NaN,418.518524,45714.816406,229344.437500,0.0,0.000000e+00,0.000000e+00,...,NaN,NaN,2611.0,26.0,2.0,1,Central,2013-09-11,NaN,NaN
11,1.230482e+11,2014-11-11,2014-12-31,NaN,0.000000,1725.925903,170.370377,0.0,0.000000e+00,0.000000e+00,...,mix,Domestic,2620.0,26.0,2.0,1,Central,1995-03-19,NaN,NaN
12,1.319355e+11,2014-01-01,2014-12-31,NaN,305970.375000,2874.073975,126155.546875,0.0,0.000000e+00,0.000000e+00,...,NaN,NaN,2630.0,26.0,2.0,1,Central,1990-07-31,2015-12-28,0.166667
13,1.365634e+11,2014-01-01,2014-12-31,NaN,400.000000,4555.555664,292.592590,0.0,0.000000e+00,0.000000e+00,...,male,Domestic,2630.0,26.0,2.0,3,East,2006-11-30,NaN,0.083333
14,1.729885e+11,2014-01-01,2014-10-31,166248.140625,103185.187500,488514.812500,40629.628906,0.0,2.748604e+06,2.748604e+06,...,NaN,NaN,2611.0,26.0,2.0,3,West,2008-10-03,2016-12-29,0.000000
15,1.913668e+11,2014-01-01,2014-12-31,NaN,1425.925903,5770.370605,1007.407410,0.0,2.592593e+01,2.592593e+01,...,mix,Domestic,2611.0,26.0,2.0,2,Central,2006-05-02,NaN,NaN
16,2.032590e+11,2014-01-01,2014-12-31,NaN,644.444458,174914.812500,28400.000000,0.0,0.000000e+00,0.000000e+00,...,male,Foreign,2651.0,26.0,2.0,3,East,2011-06-26,2015-08-31,NaN
17,2.114858e+11,2014-01-01,2014-12-31,NaN,0.000000,57766.667969,148070.375000,0.0,0.000000e+00,0.000000e+00,...,male,Foreign,2630.0,26.0,2.0,2,Central,2008-03-26,NaN,NaN
18,2.117838e+11,2014-01-01,2014-12-31,NaN,929.629639,122.222221,10296.295898,0.0,0.000000e+00,0.000000e+00,...,male,mix,2630.0,26.0,2.0,3,Central,2010-10-07,NaN,0.166667
19,2.668660e+11,2014-01-01,2014-12-31,NaN,366.666656,170.370377,122737.039062,0.0,0.000000e+00,0.000000e+00,...,male,Domestic,2651.0,26.0,2.0,1,Central,2005-11-24,NaN,NaN
20,2.877065e+11,2014-01-01,2014-12-31,NaN,10055.555664,80696.296875,85725.929688,0.0,0.000000e+00,0.000000e+00,...,female,Domestic,2620.0,26.0,2.0,2,East,1989-10-23,NaN,NaN
21,3.326309e+11,2014-01-01,2014-12-31,NaN,25429.628906,164522.218750,266985.187500,0.0,0.000000e+00,0.000000e+00,...,male,Domestic,2630.0,26.0,2.0,3,Central,2000-02-18,NaN,0.138889
22,3.798277e+11,2014-01-01,2014-12-31,NaN,274.074066,11181.481445,162.962967,0.0,0.000000e+00,0.000000e+00,...,male,Domestic,2651.0,26.0,2.0,2,Central,2008-08-14,NaN,NaN
23,4.150821e+11,2014-01-01,2014-12-31,NaN,533.333313,26366.666016,1340.740723,0.0,2.074074e+02,2.074074e+02,...,male,Domestic,2651.0,26.0,2.0,1,Central,2004-07-04,NaN,NaN
24,4.467845e+11,2014-01-01,2014-12-31,NaN,0.000000,1866.666626,14.814815,0.0,0.000000e+00,0.000000e+00,...,male,mix,2651.0,26.0,2.0,2,West,2010-12-31,NaN,NaN

In [120]:
[column for column in yo.columns if 'exit' in column]

['exit_year_x', 'exit_date_x', 'exit_year_y', 'exit_date_y']

In [121]:
#2014
yo.iloc[0].sales_x
yo.iloc[0].year_x
yo.iloc[0].exit_year_x

nan

In [123]:
#2015
yo.iloc[0].sales_y #no money
yo.iloc[0].year_y
yo.iloc[0].exit_year_y

nan